.navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 61px;
    position: relative;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    background-color: #161616;
}

.navbar .header-title {
    font-size: 15px;
    margin-left: 25px;
    cursor: pointer;
}

.navbar .header-menu {
    display: flex;
    flex-direction: row;
    width: 18%;
    height: 100%;
    margin: 0 15px;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.navbar .header-menu img {
    border-radius: 50%;
    border: solid 3px #BB000E;
    height: 41px;
    width: 43px;
}

.navbar span {
    color: #BB000E;
    cursor: pointer;
}

.sidebar-container {
    background-color: #BB000E;
    width: 218px;
    height: 100%;
    top: 0;
    left: 0;
    transition: width 0.3s ease;
}

.sidebar-container.small {
    width: 50px;
}

.sidebar-container .navigation-list {
    margin-top: 15px;
}
.sidebar-container .navigation-list li {
    height: 48px;
    padding: 15px;
    display: flex;
    gap: 15px;
    align-items: center;
    cursor: pointer;
}

.sidebar-container .navigation-list li:hover {
    background-color: #E31C25;
}

.sidebar-container .navigation-list li .arrow-icon {
    margin-left: auto;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.sidebar-container .navigation-list li:hover .arrow-icon {
    opacity: 1;
}