/* MINIMAL RESET */

*,
:after,
:before {
    box-sizing: border-box
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a,
button {
    color: inherit;
    cursor: pointer
}

dd,
dl,
menu,
ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none
}

input:focus {
    outline: none;
    border: none;
}

/* SEARCH BAR */

.search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-bar input {
    width: 535px;
    height: 28px;
    border-radius: 15px;
    background-color: #2C2C2C;
    text-indent: 10px;
}

.search-bar input::placeholder {
    font-size: 16;
    color: #FFFFFF;
    opacity: 60%;
}

.input-icon {
    margin-right: 5px;
}

/* INPUT */

.input-field {
    display: flex;
    flex-direction: column;
    width: 354px;
}

.input-field-label-icon {
    display: flex;
    flex-direction: row;
    align-items: start;
}

.input-field-label-icon label {
    margin: 0 5px;
}

.input-field input {
    border-bottom: 1px solid #BB000E;
    background-color: #2C2C2C;
}

.input-field:focus-within input:focus {
    border: 1px solid #E31C25;
    color: #E31C25;
}

.input-field:focus-within .input-field-label-icon {
    color: #E31C25;
}

/* SELECT INPUT */

.select-input {
    display: flex;
}

.select-input label {
    text-align: left;
    text-indent: 10px;
}

.select-field {
    font-size: 16px;
    display: flex;
    width: 200px;
    height: 22px;
    flex-direction: column;
    background-color: #2C2C2C;
    border-bottom: 1px solid #BB000E;
}

/* BUTTON */

.button {
    background-color: #BB000E;
    width: 104px;
    height: 34px;
    border-radius: 0;
    font-size: 15px;
    color: #FFFFFF;
    white-space: nowrap;
    text-align: center;
    margin: 0;
    padding: 0;
}